In [1]:
# Add the librarys
import requests
import json
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib
plt.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (16,8)

In [19]:
# Call the API
status_conf = {'status': 'confirmed'}
r = requests.get('https://covid-api.mmediagroup.fr/v1/cases')
c = requests.get('https://covid-api.mmediagroup.fr/v1/history',status_conf)

In [21]:
r_confirmed = json.loads(c.text)

In [27]:
for items in

{'All': {'country': 'Afghanistan',
  'population': 35530081,
  'sq_km_area': 652090,
  'life_expectancy': '45.9',
  'elevation_in_meters': None,
  'continent': 'Asia',
  'abbreviation': 'AF',
  'location': 'Southern and Central Asia',
  'iso': 4,
  'capital_city': 'Kabul',
  'dates': {'2021-07-26': 144285,
   '2021-07-25': 143439,
   '2021-07-24': 143439,
   '2021-07-23': 143439,
   '2021-07-22': 143183,
   '2021-07-21': 142414,
   '2021-07-20': 142414,
   '2021-07-19': 141489,
   '2021-07-18': 137853,
   '2021-07-17': 137853,
   '2021-07-16': 137853,
   '2021-07-15': 137853,
   '2021-07-14': 136643,
   '2021-07-13': 134653,
   '2021-07-12': 134653,
   '2021-07-11': 131586,
   '2021-07-10': 131586,
   '2021-07-09': 131586,
   '2021-07-08': 130113,
   '2021-07-07': 129021,
   '2021-07-06': 127464,
   '2021-07-05': 125937,
   '2021-07-04': 120216,
   '2021-07-03': 120216,
   '2021-07-02': 120216,
   '2021-07-01': 120216,
   '2021-06-30': 118659,
   '2021-06-29': 117158,
   '2021-06-28': 115751,
   '2021-06-27': 111592,
   '2021-06-26': 111592,
   '2021-06-25': 111592,
   '2021-06-24': 109532,
   '2021-06-23': 107957,
   '2021-06-22': 105749,
   '2021-06-21': 103902,
   '2021-06-20': 98734,
   '2021-06-19': 98734,
   '2021-06-18': 98734,
   '2021-06-17': 96531,
   '2021-06-16': 93288,
   '2021-06-15': 93272,
   '2021-06-14': 91458,
   '2021-06-13': 89861,
   '2021-06-12': 88740,
   '2021-06-11': 87716,
   '2021-06-10': 85892,
   '2021-06-09': 84050,
   '2021-06-08': 82326,
   '2021-06-07': 80841,
   '2021-06-06': 79224,
   '2021-06-05': 77963,
   '2021-06-04': 76628,
   '2021-06-03': 75119,
   '2021-06-02': 74026,
   '2021-06-01': 72977,
   '2021-05-31': 71838,
   '2021-05-30': 70761,
   '2021-05-29': 70111,
   '2021-05-28': 69130,
   '2021-05-27': 68366,
   '2021-05-26': 67743,
   '2021-05-25': 66903,
   '2021-05-24': 66275,
   '2021-05-23': 65728,
   '2021-05-22': 65486,
   '2021-05-21': 65080,
   '2021-05-20': 64575,
   '2021-05-19': 64122,
   '2021-05-18': 63819,
   '2021-05-17': 63598,
   '2021-05-16': 63484,
   '2021-05-15': 63412,
   '2021-05-14': 63355,
   '2021-05-13': 63045,
   '2021-05-12': 62718,
   '2021-05-11': 62403,
   '2021-05-10': 62063,
   '2021-05-09': 61842,
   '2021-05-08': 61755,
   '2021-05-07': 61455,
   '2021-05-06': 61162,
   '2021-05-05': 60797,
   '2021-05-04': 60563,
   '2021-05-03': 60300,
   '2021-05-02': 60122,
   '2021-05-01': 59939,
   '2021-04-30': 59745,
   '2021-04-29': 59576,
   '2021-04-28': 59370,
   '2021-04-27': 59225,
   '2021-04-26': 59015,
   '2021-04-25': 58843,
   '2021-04-24': 58730,
   '2021-04-23': 58542,
   '2021-04-22': 58312,
   '2021-04-21': 58214,
   '2021-04-20': 58037,
   '2021-04-19': 57898,
   '2021-04-18': 57793,
   '2021-04-17': 57721,
   '2021-04-16': 57612,
   '2021-04-15': 57534,
   '2021-04-14': 57492,
   '2021-04-13': 57364,
   '2021-04-12': 57242,
   '2021-04-11': 57160,
   '2021-04-10': 57144,
   '2021-04-09': 57019,
   '2021-04-08': 56943,
   '2021-04-07': 56873,
   '2021-04-06': 56779,
   '2021-04-05': 56717,
   '2021-04-04': 56676,
   '2021-04-03': 56595,
   '2021-04-02': 56572,
   '2021-04-01': 56517,
   '2021-03-31': 56454,
   '2021-03-30': 56384,
   '2021-03-29': 56322,
   '2021-03-28': 56294,
   '2021-03-27': 56290,
   '2021-03-26': 56254,
   '2021-03-25': 56226,
   '2021-03-24': 56192,
   '2021-03-23': 56177,
   '2021-03-22': 56153,
   '2021-03-21': 56103,
   '2021-03-20': 56093,
   '2021-03-19': 56069,
   '2021-03-18': 56044,
   '2021-03-17': 56016,
   '2021-03-16': 55995,
   '2021-03-15': 55985,
   '2021-03-14': 55985,
   '2021-03-13': 55959,
   '2021-03-12': 55959,
   '2021-03-11': 55917,
   '2021-03-10': 55894,
   '2021-03-09': 55876,
   '2021-03-08': 55876,
   '2021-03-07': 55847,
   '2021-03-06': 55840,
   '2021-03-05': 55827,
   '2021-03-04': 55775,
   '2021-03-03': 55770,
   '2021-03-02': 55759,
   '2021-03-01': 55733,
   '2021-02-28': 55714,
   '2021-02-27': 55707,
   '2021-02-26': 55696,
   '2021-02-25': 55680,
   '2021-02-24': 55664,
   '2021-02-23': 55646,
   '2021-02-22': 55617,
   '2021-02-21': 55604,
   '2021-02-20': 55580,
   '2021-02-19': 55575,
   '2021-02-18': 55557,
   '2021-02-17': 55540,
   '2021-02-16': 55518,
   '2021-02-15': 55514,
   '2021-02-14': 55492,
   '2021-02-13': 55473,
   '2021-02-12': 55445,
   '2021-02-11': 55420,
   '2021-02-10': 55402,
   '2021-02-09': 55384,
   '2021-02-08': 55359,
   '2021-02-07': 55335,
   '2021-02-06': 55330,
   '2021-02-05': 55265,
   '2021-02-04': 55231,
   '2021-02-03': 55174,
   '2021-02-02': 55121,
   '2021-02-01': 55059,
   '2021-01-31': 55023,
   '2021-01-30': 55008,
   '2021-01-29': 54939,
   '2021-01-28': 54891,
   '2021-01-27': 54854,
   '2021-01-26': 54750,
   '2021-01-25': 54672,
   '2021-01-24': 54595,
   '2021-01-23': 54559,
   '2021-01-22': 54483,
   '2021-01-21': 54403,
   '2021-01-20': 54278,
   '2021-01-19': 54141,
   '2021-01-18': 54062,
   '2021-01-17': 53984,
   '2021-01-16': 53938,
   '2021-01-15': 53831,
   '2021-01-14': 53775,
   '2021-01-13': 53584,
   '2021-01-12': 53584,
   '2021-01-11': 53538,
   '2021-01-10': 53489,
   '2021-01-09': 53400,
   '2021-01-08': 53332,
   '2021-01-07': 53207,
   '2021-01-06': 53105,
   '2021-01-05': 53105,
   '2021-01-04': 53011,
   '2021-01-03': 51526,
   '2021-01-02': 51526,
   '2021-01-01': 51526,
   '2020-12-31': 51526,
   '2020-12-30': 51405,
   '2020-12-29': 51350,
   '2020-12-28': 51280,
   '2020-12-27': 51039,
   '2020-12-26': 50886,
   '2020-12-25': 50810,
   '2020-12-24': 50655,
   '2020-12-23': 50433,
   '2020-12-22': 50190,
   '2020-12-21': 50013,
   '2020-12-20': 49817,
   '2020-12-19': 49681,
   '2020-12-18': 49621,
   '2020-12-17': 49378,
   '2020-12-16': 49161,
   '2020-12-15': 48952,
   '2020-12-14': 48718,
   '2020-12-13': 48527,
   '2020-12-12': 48229,
   '2020-12-11': 48116,
   '2020-12-10': 48053,
   '2020-12-09': 47851,
   '2020-12-08': 47716,
   '2020-12-07': 47516,
   '2020-12-06': 47306,
   '2020-12-05': 47072,
   '2020-12-04': 46837,
   '2020-12-03': 46837,
   '2020-12-02': 46718,
   '2020-12-01': 46516,
   '2020-11-30': 46274,
   '2020-11-29': 46116,
   '2020-11-28': 45844,
   '2020-11-27': 45723,
   '2020-11-26': 45600,
   '2020-11-25': 45384,
   '2020-11-24': 45174,
   '2020-11-23': 44988,
   '2020-11-22': 44706,
   '2020-11-21': 44503,
   '2020-11-20': 44363,
   '2020-11-19': 44177,
   '2020-11-18': 43924,
   '2020-11-17': 43681,
   '2020-11-16': 43468,
   '2020-11-15': 43240,
   '2020-11-14': 43035,
   '2020-11-13': 42969,
   '2020-11-12': 42795,
   '2020-11-11': 42609,
   '2020-11-10': 42463,
   '2020-11-09': 42297,
   '2020-11-08': 42159,
   '2020-11-07': 42033,
   '2020-11-06': 41975,
   '2020-11-05': 41935,
   '2020-11-04': 41814,
   '2020-11-03': 41728,
   '2020-11-02': 41633,
   '2020-11-01': 41501,
   '2020-10-31': 41425,
   '2020-10-30': 41334,
   '2020-10-29': 41268,
   '2020-10-28': 41145,
   '2020-10-27': 41032,
   '2020-10-26': 40937,
   '2020-10-25': 40833,
   '2020-10-24': 40768,
   '2020-10-23': 40687,
   '2020-10-22': 40626,
   '2020-10-21': 40510,
   '2020-10-20': 40369,
   '2020-10-19': 40287,
   '2020-10-18': 40200,
   '2020-10-17': 40141,
   '2020-10-16': 40088,
   '2020-10-15': 40026,
   '2020-10-14': 39994,
   '2020-10-13': 39928,
   '2020-10-12': 39870,
   '2020-10-11': 39799,
   '2020-10-10': 39703,
   '2020-10-09': 39693,
   '2020-10-08': 39616,
   '2020-10-07': 39548,
   '2020-10-06': 39486,
   '2020-10-05': 39422,
   '2020-10-04': 39341,
   '2020-10-03': 39297,
   '2020-10-02': 39290,
   '2020-10-01': 39285,
   '2020-09-30': 39268,
   '2020-09-29': 39254,
   '2020-09-28': 39239,
   '2020-09-27': 39227,
   '2020-09-26': 39192,
   '2020-09-25': 39186,
   '2020-09-24': 39170,
   '2020-09-23': 39145,
   '2020-09-22': 39096,
   '2020-09-21': 39074,
   '2020-09-20': 39044,
   '2020-09-19': 38919,
   '2020-09-18': 38897,
   '2020-09-17': 38872,
   '2020-09-16': 38855,
   '2020-09-15': 38815,
   '2020-09-14': 38772,
   '2020-09-13': 38716,
   '2020-09-12': 38641,
   '2020-09-11': 38606,
   '2020-09-10': 38572,
   '2020-09-09': 38544,
   '2020-09-08': 38520,
   '2020-09-07': 38494,
   '2020-09-06': 38398,
   '2020-09-05': 38324,
   '2020-09-04': 38304,
   '2020-09-03': 38288,
   '2020-09-02': 38243,
   '2020-09-01': 38193,
   '2020-08-31': 38159,
   '2020-08-30': 38155,
   '2020-08-29': 38133,
   '2020-08-28': 38130,
   '2020-08-27': 38119,
   '2020-08-26': 38103,
   '2020-08-25': 38061,
   '2020-08-24': 38045,
   '2020-08-23': 37990,
   '2020-08-22': 37944,
   '2020-08-21': 37885,
   '2020-08-20': 37852,
   '2020-08-19': 37750,
   '2020-08-18': 37710,
   '2020-08-17': 37667,
   '2020-08-16': 37590,
   '2020-08-15': 37542,
   '2020-08-14': 37497,
   '2020-08-13': 37422,
   '2020-08-12': 37336,
   '2020-08-11': 37260,
   '2020-08-10': 37153,
   '2020-08-09': 37083,
   '2020-08-08': 37046,
   '2020-08-07': 37006,
   '2020-08-06': 36928,
   '2020-08-05': 36820,
   '2020-08-04': 36773,
   '2020-08-03': 36737,
   '2020-08-02': 36701,
   '2020-08-01': 36700,
   '2020-07-31': 36665,
   '2020-07-30': 36532,
   '2020-07-29': 36463,
   '2020-07-28': 36358,
   '2020-07-27': 36253,
   '2020-07-26': 36147,
   '2020-07-25': 36026,
   '2020-07-24': 35978,
   '2020-07-23': 35918,
   '2020-07-22': 35717,
   '2020-07-21': 35605,
   '2020-07-20': 35493,
   '2020-07-19': 35453,
   '2020-07-18': 35279,
   '2020-07-17': 35219,
   '2020-07-16': 35060,
   '2020-07-15': 34984,
   '2020-07-14': 34730,
   '2020-07-13': 34595,
   '2020-07-12': 34441,
   '2020-07-11': 34356,
   '2020-07-10': 34184,
   '2020-07-09': 33898,
   '2020-07-08': 33584,
   '2020-07-07': 33374,
   '2020-07-06': 33180,
   '2020-07-05': 32941,
   '2020-07-04': 32662,
   '2020-07-03': 32314,
   '2020-07-02': 32012,
   '2020-07-01': 31826,
   '2020-06-30': 31507,
   '2020-06-29': 31228,
   '2020-06-28': 30957,
   '2020-06-27': 30606,
   '2020-06-26': 30441,
   '2020-06-25': 30165,
   '2020-06-24': 29705,
   '2020-06-23': 29471,
   '2020-06-22': 29147,
   '2020-06-21': 28837,
   '2020-06-20': 28428,
   '2020-06-19': 27882,
   '2020-06-18': 27536,
   '2020-06-17': 26878,
   '2020-06-16': 26314,
   '2020-06-15': 25531,
   '2020-06-14': 24770,
   '2020-06-13': 24106,
   '2020-06-12': 23550,
   '2020-06-11': 22894,
   '2020-06-10': 22146,
   '2020-06-09': 21462,
   '2020-06-08': 20920,
   '2020-06-07': 20345,
   '2020-06-06': 19554,
   '2020-06-05': 18972,
   '2020-06-04': 18057,
   '2020-06-03': 17270,
   '2020-06-02': 16512,
   '2020-06-01': 15753,
   '2020-05-31': 15208,
   '2020-05-30': 14528,
   '2020-05-29': 13662,
   '2020-05-28': 13039,
   '2020-05-27': 12459,
   '2020-05-26': 11834,
   '2020-05-25': 11176,
   '2020-05-24': 10585,
   '2020-05-23': 10001,
   '2020-05-22': 9219,
   '2020-05-21': 8677,
   '2020-05-20': 8146,
   '2020-05-19': 7654,
   '2020-05-18': 7073,
   '2020-05-17': 6665,
   '2020-05-16': 6403,
   '2020-05-15': 6054,
   '2020-05-14': 5640,
   '2020-05-13': 5227,
   '2020-05-12': 4968,
   '2020-05-11': 4687,
   '2020-05-10': 4403,
   '2020-05-09': 4042,
   '2020-05-08': 3781,
   '2020-05-07': 3564,
   '2020-05-06': 3393,
   '2020-05-05': 3225,
   '2020-05-04': 2895,
   '2020-05-03': 2705,
   '2020-05-02': 2470,
   '2020-05-01': 2291,
   '2020-04-30': 2127,
   '2020-04-29': 1940,
   '2020-04-28': 1830,
   '2020-04-27': 1704,
   '2020-04-26': 1532,
   '2020-04-25': 1464,
   '2020-04-24': 1331,
   '2020-04-23': 1236,
   '2020-04-22': 1177,
   '2020-04-21': 1093,
   '2020-04-20': 1027,
   '2020-04-19': 997,
   '2020-04-18': 934,
   '2020-04-17': 907,
   '2020-04-16': 841,
   '2020-04-15': 785,
   '2020-04-14': 715,
   '2020-04-13': 666,
   '2020-04-12': 608,
   '2020-04-11': 556,
   '2020-04-10': 532,
   '2020-04-09': 485,
   '2020-04-08': 445,
   '2020-04-07': 424,
   '2020-04-06': 368,
   '2020-04-05': 338,
   '2020-04-04': 300,
   '2020-04-03': 275,
   '2020-04-02': 240,
   '2020-04-01': 197,
   '2020-03-31': 175,
   '2020-03-30': 146,
   '2020-03-29': 118,
   '2020-03-28': 107,
   '2020-03-27': 91,
   '2020-03-26': 80,
   '2020-03-25': 76,
   '2020-03-24': 43,
   '2020-03-23': 41,
   '2020-03-22': 34,
   '2020-03-21': 30,
   '2020-03-20': 29,
   '2020-03-19': 25,
   '2020-03-18': 24,
   '2020-03-17': 20,
   '2020-03-16': 18,
   '2020-03-15': 16,
   '2020-03-14': 15,
   '2020-03-13': 13,
   '2020-03-12': 12,
   '2020-03-11': 11,
   '2020-03-10': 8,
   '2020-03-09': 7,
   '2020-03-08': 5,
   '2020-03-07': 4,
   '2020-03-06': 4,
   '2020-03-05': 4,
   '2020-03-04': 4,
   '2020-03-03': 2,
   '2020-03-02': 1,
   '2020-03-01': 1,
   '2020-02-29': 1,
   '2020-02-28': 1,
   '2020-02-27': 1,
   '2020-02-26': 1,
   '2020-02-25': 1,
   '2020-02-24': 1,
   '2020-02-23': 0,
   '2020-02-22': 0,
   '2020-02-21': 0,
   '2020-02-20': 0,
   '2020-02-19': 0,
   '2020-02-18': 0,
   '2020-02-17': 0,
   '2020-02-16': 0,
   '2020-02-15': 0,
   '2020-02-14': 0,
   '2020-02-13': 0,
   '2020-02-12': 0,
   '2020-02-11': 0,
   '2020-02-10': 0,
   '2020-02-09': 0,
   '2020-02-08': 0,
   '2020-02-07': 0,
   '2020-02-06': 0,
   '2020-02-05': 0,
   '2020-02-04': 0,
   '2020-02-03': 0,
   '2020-02-02': 0,
   '2020-02-01': 0,
   '2020-01-31': 0,
   '2020-01-30': 0,
   '2020-01-29': 0,
   '2020-01-28': 0,
   '2020-01-27': 0,
   '2020-01-26': 0,
   '2020-01-25': 0,
   '2020-01-24': 0,
   '2020-01-23': 0,
   '2020-01-22': 0}}}

In [3]:
# JSON to Dict
response = json.loads(r.text)

In [4]:
#Delet the key 'All'
dicti = dict()
leng = []
for item in response.keys():    
    dicti[item] = {x : y  for (x, y) in response[item]['All'].items()}
    leng.append(len(dicti[item]))

In [5]:
data = pd.DataFrame.from_dict(dicti, orient='index' )

In [15]:
data.shape

(196, 16)

In [6]:
data.head()

,confirmed,recovered,deaths,country,population,sq_km_area,life_expectancy,elevation_in_meters,continent,abbreviation,location,iso,capital_city,lat,long,updated
Afghanistan,144285,82586,6477,Afghanistan,35530081.0,652090.0,45.9,None,Asia,AF,Southern and Central Asia,4.0,Kabul,33.93911,67.709953,2021/07/26 21:21:37+00
Albania,132891,130152,2456,Albania,2930187.0,28748.0,71.6,None,Europe,AL,Southern Europe,8.0,Tirana,41.1533,20.1683,2021/07/26 21:21:37+00
Algeria,163660,111322,4087,Algeria,41318142.0,2381741.0,69.7,800,Africa,DZ,Northern Africa,12.0,Alger,28.0339,1.6596,2021/07/26 21:21:37+00
Andorra,14577,14077,127,Andorra,76965.0,468.0,83.5,"1,996",Europe,AD,Southern Europe,20.0,Andorra la Vella,42.5063,1.5218,2021/07/26 21:21:37+00
Angola,41780,35474,984,Angola,29784193.0,1246700.0,38.3,"1,112",Africa,AO,Central Africa,24.0,Luanda,-11.2027,17.8739,2021/07/26 21:21:37+00

In [13]:
for column in data.columns:
    pct_missing = np.mean(data[column].isnull())
    print(f'{column} - {round(pct_missing*100)}%')

confirmed - 0%
recovered - 0%
deaths - 0%
country - 8%
population - 8%
sq_km_area - 9%
life_expectancy - 10%
elevation_in_meters - 26%
continent - 9%
abbreviation - 9%
location - 9%
iso - 11%
capital_city - 9%
lat - 11%
long - 11%
updated - 11%

In [14]:
data.dtypes

confirmed                int64
recovered                int64
deaths                   int64
country                 object
population             float64
sq_km_area             float64
life_expectancy         object
elevation_in_meters     object
continent               object
abbreviation            object
location                object
iso                    float64
capital_city            object
lat                     object
long                    object
updated                 object
dtype: object