In [1]:
# Add the librarys
import requests
import json
import pandas as pd
import numpy as np

In [89]:
# Call the API
dic = {'status':'confirmed'}
r = requests.get('https://covid-api.mmediagroup.fr/v1/cases')

In [90]:
# JSON to Dict
data = json.loads(r.text)

In [184]:
#Delet the key 'All'
dicti = dict()
leng = []
for item in data.keys():    
    dicti[item] = {x : y  for (x, y) in data[item]['All'].items()}
    leng.append(len(dicti[item]))

In [189]:
pd.DataFrame(dicti)

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe,US,Global
confirmed,142414,132763,157005,14379,41061,1275,4798851,227936,32269,654745,...,121329,4,294727,65607,315761,6997,188573,88415,34219821,1.918991e+08
recovered,82586,130097,107776,13930,34857,1225,4431871,218585,23972,640018,...,116009,3,278117,11443,310601,4162,175429,58155,0,1.262376e+08
deaths,6266,2456,3994,127,970,42,102818,4573,915,10729,...,809,1,3408,334,3589,1371,3162,2747,609837,4.125579e+06
country,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,NaN,Yemen,Zambia,Zimbabwe,US,NaN
population,35530081,2930187,41318142,76965,29784193,102012,44271041,2930450,24450561,8735453,...,31910641,276244,31977065,95540800,NaN,28250420,17094130,16529904,324459463,7.444509e+09
sq_km_area,652090,28748,2381741,468,1246700,442,2780400,29800,7741220,83859,...,447400,12189,912050,331689,NaN,527968,752618,390757,9363520,NaN
life_expectancy,45.9,71.6,69.7,83.5,38.3,70.5,75.1,66.4,79.8,77.7,...,63.7,60.6,73.1,69.3,NaN,59.8,37.2,37.8,77.1,NaN
elevation_in_meters,None,None,800,"1,996","1,112",None,595,"1,792",330,910,...,None,None,450,398,NaN,999,"1,138",961,760,NaN
continent,Asia,Europe,Africa,Europe,Africa,North America,South America,Asia,Oceania,Europe,...,Asia,Oceania,South America,Asia,NaN,Asia,Africa,Africa,North America,NaN
abbreviation,AF,AL,DZ,AD,AO,AG,AR,AM,AU,AT,...,UZ,VU,VE,VN,NaN,YE,ZM,ZW,US,NaN
location,Southern and Central Asia,Southern Europe,Northern Africa,Southern Europe,Central Africa,Caribbean,South America,Middle East,Australia and New Zealand,Western Europe,...,Southern and Central Asia,Melanesia,South America,Southeast Asia,NaN,Middle East,Eastern Africa,Eastern Africa,North America,NaN
iso,4,8,12,20,24,28,32,51,36,40,...,860,548,862,704,NaN,887,894,716,840,NaN
capital_city,Kabul,Tirana,Alger,Andorra la Vella,Luanda,Saint John's,Buenos Aires,Yerevan,Canberra,Wien,...,Toskent,Port-Vila,Caracas,Hanoi,NaN,Sanaa,Lusaka,Harare,Washington,NaN
lat,33.93911,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,NaN,47.5162,...,41.377491,-15.3767,6.4238,14.058324,31.9522,15.552727,-13.133897,-19.015438,NaN,NaN
long,67.709953,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,NaN,14.5501,...,64.585262,166.9592,-66.5897,108.277199,35.2332,48.516388,27.849332,29.154857,NaN,NaN
updated,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,NaN,2021/07/21 23:21:32+00,...,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,2021/07/21 23:21:32+00,NaN,NaN

In [188]:
data['US']

{'All': {'confirmed': 34219821,
  'recovered': 0,
  'deaths': 609837,
  'country': 'US',
  'population': 324459463,
  'sq_km_area': 9363520,
  'life_expectancy': '77.1',
  'elevation_in_meters': 760,
  'continent': 'North America',
  'abbreviation': 'US',
  'location': 'North America',
  'iso': 840,
  'capital_city': 'Washington'},
 'Mississippi': {'lat': '32.741646',
  'long': '-89.678696',
  'confirmed': 330664,
  'recovered': 0,
  'deaths': 7485,
  'updated': '2021/07/21 23:21:32+00'},
 'Grand Princess': {'lat': '37.64894',
  'long': '-122.665479',
  'confirmed': 103,
  'recovered': 0,
  'deaths': 3,
  'updated': '2020/08/04 02:27:56+00'},
 'Oklahoma': {'lat': '35.565342',
  'long': '-96.928917',
  'confirmed': 468401,
  'recovered': 0,
  'deaths': 7454,
  'updated': '2021/07/21 23:21:32+00'},
 'Delaware': {'lat': '39.318523',
  'long': '-75.507141',
  'confirmed': 110502,
  'recovered': 0,
  'deaths': 1697,
  'updated': '2021/07/21 23:21:32+00'},
 'Minnesota': {'lat': '45.694454',
  'long': '-93.900192',
  'confirmed': 608678,
  'recovered': 0,
  'deaths': 7737,
  'updated': '2021/07/21 23:21:32+00'},
 'Illinois': {'lat': '40.349457',
  'long': '-88.986137',
  'confirmed': 1404466,
  'recovered': 0,
  'deaths': 25825,
  'updated': '2021/07/21 23:21:32+00'},
 'Arkansas': {'lat': '34.969704',
  'long': '-92.373123',
  'confirmed': 368466,
  'recovered': 0,
  'deaths': 6020,
  'updated': '2021/07/21 23:21:32+00'},
 'New Mexico': {'lat': '34.840515',
  'long': '-106.248482',
  'confirmed': 207972,
  'recovered': 0,
  'deaths': 4392,
  'updated': '2021/07/21 23:21:32+00'},
 'Indiana': {'lat': '39.849426',
  'long': '-86.258278',
  'confirmed': 762837,
  'recovered': 0,
  'deaths': 13964,
  'updated': '2021/07/21 23:21:32+00'},
 'Louisiana': {'lat': '31.169546',
  'long': '-91.867805',
  'confirmed': 506882,
  'recovered': 0,
  'deaths': 10874,
  'updated': '2021/07/21 23:21:32+00'},
 'Texas': {'lat': '31.054487',
  'long': '-97.563461',
  'confirmed': 3056895,
  'recovered': 0,
  'deaths': 52897,
  'updated': '2021/07/21 23:21:32+00'},
 'Wisconsin': {'lat': '44.268543',
  'long': '-89.616508',
  'confirmed': 681168,
  'recovered': 0,
  'deaths': 8229,
  'updated': '2021/07/21 23:21:32+00'},
 'Kansas': {'lat': '38.5266',
  'long': '-96.726486',
  'confirmed': 325216,
  'recovered': 0,
  'deaths': 5199,
  'updated': '2021/07/21 23:21:32+00'},
 'Recovered': {'lat': '0',
  'long': '0',
  'confirmed': 0,
  'recovered': 0,
  'deaths': 0,
  'updated': '2021/07/21 23:21:32+00'},
 'American Samoa': {'lat': '-14.271',
  'long': '-170.132',
  'confirmed': 0,
  'recovered': 0,
  'deaths': 0,
  'updated': '1970/01/01 00:00:00+00'},
 'Connecticut': {'lat': '41.597782',
  'long': '-72.755371',
  'confirmed': 351530,
  'recovered': 0,
  'deaths': 8282,
  'updated': '2021/07/21 23:21:32+00'},
 'Virgin Islands': {'lat': '18.3358',
  'long': '-64.8963',
  'confirmed': 4249,
  'recovered': 0,
  'deaths': 33,
  'updated': '2021/07/21 23:21:32+00'},
 'California': {'lat': '36.116203',
  'long': '-119.681564',
  'confirmed': 3877722,
  'recovered': 0,
  'deaths': 64148,
  'updated': '2021/07/21 23:21:32+00'},
 'Puerto Rico': {'lat': '18.2208',
  'long': '-66.5901',
  'confirmed': 142179,
  'recovered': 0,
  'deaths': 2565,
  'updated': '2021/07/21 23:21:32+00'},
 'Georgia': {'lat': '33.040619',
  'long': '-83.643074',
  'confirmed': 1153064,
  'recovered': 0,
  'deaths': 21593,
  'updated': '2021/07/21 23:21:32+00'},
 'North Dakota': {'lat': '47.528912',
  'long': '-99.784012',
  'confirmed': 111093,
  'recovered': 0,
  'deaths': 1569,
  'updated': '2021/07/21 23:21:32+00'},
 'Pennsylvania': {'lat': '40.590752',
  'long': '-77.209755',
  'confirmed': 1222311,
  'recovered': 0,
  'deaths': 27813,
  'updated': '2021/07/21 23:21:32+00'},
 'West Virginia': {'lat': '38.491226',
  'long': '-80.954453',
  'confirmed': 165398,
  'recovered': 0,
  'deaths': 2920,
  'updated': '2021/07/21 23:21:32+00'},
 'Alaska': {'lat': '61.370716',
  'long': '-152.404419',
  'confirmed': 73374,
  'recovered': 0,
  'deaths': 382,
  'updated': '2021/07/21 23:21:32+00'},
 'Tennessee': {'lat': '35.747845',
  'long': '-86.692345',
  'confirmed': 877850,
  'recovered': 0,
  'deaths': 12642,
  'updated': '2021/07/21 23:21:32+00'},
 'United States Virgin Islands': {'lat': '18.35',
  'long': '-64.933',
  'confirmed': 0,
  'recovered': 0,
  'deaths': 0,
  'updated': '1970/01/01 00:00:00+00'},
 'Missouri': {'lat': '38.456085',
  'long': '-92.288368',
  'confirmed': 659414,
  'recovered': 0,
  'deaths': 9946,
  'updated': '2021/07/21 23:21:32+00'},
 'South Dakota': {'lat': '44.299782',
  'long': '-99.438828',
  'confirmed': 124960,
  'recovered': 0,
  'deaths': 2043,
  'updated': '2021/07/21 23:21:32+00'},
 'Colorado': {'lat': '39.059811',
  'long': '-105.311104',
  'confirmed': 567838,
  'recovered': 0,
  'deaths': 6895,
  'updated': '2021/07/21 23:21:32+00'},
 'New Jersey': {'lat': '40.298904',
  'long': '-74.521011',
  'confirmed': 1030600,
  'recovered': 0,
  'deaths': 26562,
  'updated': '2021/07/21 23:21:32+00'},
 'Guam': {'lat': '13.4443',
  'long': '144.7937',
  'confirmed': 8486,
  'recovered': 0,
  'deaths': 143,
  'updated': '2021/07/21 23:21:32+00'},
 'Washington': {'lat': '47.400902',
  'long': '-121.490494',
  'confirmed': 463537,
  'recovered': 0,
  'deaths': 6063,
  'updated': '2021/07/21 23:21:32+00'},
 'New York': {'lat': '42.165726',
  'long': '-74.948051',
  'confirmed': 2129897,
  'recovered': 0,
  'deaths': 53791,
  'updated': '2021/07/21 23:21:32+00'},
 'Nevada': {'lat': '38.313515',
  'long': '-117.055374',
  'confirmed': 347098,
  'recovered': 0,
  'deaths': 5789,
  'updated': '2021/07/21 23:21:32+00'},
 'Northern Mariana Islands': {'lat': '15.0979',
  'long': '145.6739',
  'confirmed': 183,
  'recovered': 0,
  'deaths': 2,
  'updated': '2021/07/21 23:21:32+00'},
 'Diamond Princess': {'lat': '35.4437',
  'long': '139.638',
  'confirmed': 49,
  'recovered': 0,
  'deaths': 0,
  'updated': '2020/08/04 02:27:56+00'},
 'Maryland': {'lat': '39.063946',
  'long': '-76.802101',
  'confirmed': 464735,
  'recovered': 0,
  'deaths': 9792,
  'updated': '2021/07/21 23:21:32+00'},
 'Idaho': {'lat': '44.240459',
  'long': '-114.478828',
  'confirmed': 197456,
  'recovered': 0,
  'deaths': 2177,
  'updated': '2021/07/21 23:21:32+00'},
 'Wyoming': {'lat': '42.755966',
  'long': '-107.30249',
  'confirmed': 63988,
  'recovered': 0,
  'deaths': 766,
  'updated': '2021/07/21 23:21:32+00'},
 'Arizona': {'lat': '33.729759',
  'long': '-111.431221',
  'confirmed': 911479,
  'recovered': 0,
  'deaths': 18127,
  'updated': '2021/07/21 23:21:32+00'},
 'Iowa': {'lat': '42.011539',
  'long': '-93.210526',
  'confirmed': 376673,
  'recovered': 0,
  'deaths': 6170,
  'updated': '2021/07/21 23:21:32+00'},
 'Michigan': {'lat': '43.326618',
  'long': '-84.536095',
  'confirmed': 1004630,
  'recovered': 0,
  'deaths': 21124,
  'updated': '2021/07/21 23:21:32+00'},
 'Utah': {'lat': '40.150032',
  'long': '-111.862434',
  'confirmed': 425603,
  'recovered': 0,
  'deaths': 2424,
  'updated': '2021/07/21 23:21:32+00'},
 'Virginia': {'lat': '37.769337',
  'long': '-78.169968',
  'confirmed': 686884,
  'recovered': 0,
  'deaths': 11491,
  'updated': '2021/07/21 23:21:32+00'},
 'Oregon': {'lat': '44.572021',
  'long': '-122.070938',
  'confirmed': 213730,
  'recovered': 0,
  'deaths': 2833,
  'updated': '2021/07/21 23:21:32+00'},
 'Montana': {'lat': '46.921925',
  'long': '-110.454353',
  'confirmed': 115002,
  'recovered': 0,
  'deaths': 1694,
  'updated': '2021/07/21 23:21:32+00'},
 'New Hampshire': {'lat': '43.452492',
  'long': '-71.563896',
  'confirmed': 100072,
  'recovered': 0,
  'deaths': 1384,
  'updated': '2021/07/21 23:21:32+00'},
 'Massachusetts': {'lat': '42.230171',
  'long': '-71.530106',
  'confirmed': 714014,
  'recovered': 0,
  'deaths': 18034,
  'updated': '2021/07/21 23:21:32+00'},
 'South Carolina': {'lat': '33.856892',
  'long': '-80.945007',
  'confirmed': 604650,
  'recovered': 0,
  'deaths': 9870,
  'updated': '2021/07/21 23:21:32+00'},
 'Vermont': {'lat': '44.045876',
  'long': '-72.710686',
  'confirmed': 24609,
  'recovered': 0,
  'deaths': 259,
  'updated': '2021/07/21 23:21:32+00'},
 'Florida': {'lat': '27.766279',
  'long': '-81.686783',
  'confirmed': 2450344,
  'recovered': 0,
  'deaths': 38388,
  'updated': '2021/07/21 23:21:32+00'},
 'Hawaii': {'lat': '21.094318',
  'long': '-157.498337',
  'confirmed': 39649,
  'recovered': 0,
  'deaths': 524,
  'updated': '2021/07/21 23:21:32+00'},
 'Kentucky': {'lat': '37.66814',
  'long': '-84.670067',
  'confirmed': 472605,
  'recovered': 0,
  'deaths': 7306,
  'updated': '2021/07/21 23:21:32+00'},
 'Rhode Island': {'lat': '41.680893',
  'long': '-71.51178',
  'confirmed': 153269,
  'recovered': 0,
  'deaths': 2738,
  'updated': '2021/07/21 23:21:32+00'},
 'Nebraska': {'lat': '41.12537',
  'long': '-98.268082',
  'confirmed': 226442,
  'recovered': 0,
  'deaths': 2285,
  'updated': '2021/07/21 23:21:32+00'},
 'Ohio': {'lat': '40.388783',
  'long': '-82.764915',
  'confirmed': 1119298,
  'recovered': 0,
  'deaths': 20449,
  'updated': '2021/07/21 23:21:32+00'},
 'Alabama': {'lat': '32.3182',
  'long': '-86.9023',
  'confirmed': 563943,
  'recovered': 0,
  'deaths': 11462,
  'updated': '2021/07/21 23:21:32+00'},
 'North Carolina': {'lat': '35.630066',
  'long': '-79.806419',
  'confirmed': 1028131,
  'recovered': 0,
  'deaths': 13550,
  'updated': '2021/07/21 23:21:32+00'},
 'District of Columbia': {'lat': '38.897438',
  'long': '-77.026817',
  'confirmed': 49858,
  'recovered': 0,
  'deaths': 1146,
  'updated': '2021/07/21 23:21:32+00'},
 'Maine': {'lat': '44.693947',
  'long': '-69.381927',
  'confirmed': 69675,
  'recovered': 0,
  'deaths': 887,
  'updated': '2021/07/21 23:21:32+00'}}